<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="container">

        <h3>Make your task</h3>

        <form ng-submit="AddNewToDo()">
            <div class="form-group">
                <label>Task name</label>
                <input type="text" class="form-control" placeholder="Name your task" ng-model="ToDoInfo.Name" />
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Describe your task" ng-model="ToDoInfo.Description" />
            </div>
            <button class="btn btn-default">Create task</button>
        </form>
    </div>
</body>
</html>
